## Import

In [1]:
import pandas as pd

In [3]:
df_tsc_price_change = pd.read_csv('data/TSC_Price_Changes.csv')

In [4]:
df_comp_price_change = pd.read_csv('data/Competitors_Price_Changes.csv')

In [5]:
df_tsc_sales = pd.read_csv('data/TSC_Sales_Data.csv')

In [6]:
df_tsc_price_change.head()

   SCRUB_ITEM PRICE_START_DATE PRICE_END_DATE  TSC_PRICE
0           1       2019-08-26     2019-10-03     199.99
1           1       2019-10-04     2019-10-08     179.99
2           1       2019-10-09     2019-10-27     199.99
3           1       2019-10-28     2019-10-29     179.99
4           1       2019-10-30     2019-11-05     199.99

In [16]:
df_tsc_price_change['SCRUB_ITEM'].nunique()

96

In [17]:
df_tsc_price_change['SCRUB_ITEM'].value_counts()

42    107
51    100
7      92
93     92
55     92
     ...
66      4
64      4
4       4
86      3
29      1
Name: SCRUB_ITEM, Length: 96, dtype: int64

In [18]:
df_tsc_price_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SCRUB_ITEM        3886 non-null   int64
 1   PRICE_START_DATE  3886 non-null   object
 2   PRICE_END_DATE    3886 non-null   object
 3   TSC_PRICE         3886 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 121.6+ KB

In [25]:
df_tsc_price_change['PRICE_START_DATE'] = pd.to_datetime(df_tsc_price_change['PRICE_START_DATE'],format='%Y-%m-%d')

In [33]:
df_tsc_price_change['PRICE_END_DATE'] = pd.to_datetime(df_tsc_price_change['PRICE_END_DATE'],errors='coerce',format='%Y-%m-%d')

In [34]:
df_tsc_price_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SCRUB_ITEM        3886 non-null   int64
 1   PRICE_START_DATE  3886 non-null   datetime64[ns]
 2   PRICE_END_DATE    3815 non-null   datetime64[ns]
 3   TSC_PRICE         3886 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1)
memory usage: 121.6 KB

In [35]:
df_tsc_price_change

      SCRUB_ITEM PRICE_START_DATE PRICE_END_DATE  TSC_PRICE
0              1       2019-08-26     2019-10-03     199.99
1              1       2019-10-04     2019-10-08     179.99
2              1       2019-10-09     2019-10-27     199.99
3              1       2019-10-28     2019-10-29     179.99
4              1       2019-10-30     2019-11-05     199.99
...          ...              ...            ...        ...
3881          97       2020-12-06     2020-12-07      19.99
3882          97       2020-12-08     2020-12-12      15.99
3883          97       2020-12-13     2020-12-18      15.99
3884          97       2020-12-19     2020-12-24      15.99
3885          97       2020-12-25     2021-08-18      19.99

[3886 rows x 4 columns]

In [19]:
df_comp_price_change.head()

,SCAN_DATE_TIME,SCRUB_ITEM,SCRUB_COMPETITOR,TSC_PRICE,COMPETITOR_PRICE,CPI_COMPETITIVE_PRICE_INDEX,COMPETITOR_SHIPPING,COMPETITOR_REG_PRICE
0,2020-08-06 04:20:00.000,1,1,199.99,205.58,102.7951,0.0,205.58
1,2020-08-06 04:21:00.000,1,2,199.99,205.58,102.7951,0.0,205.58
2,2020-08-07 04:24:00.000,1,1,199.99,205.58,102.7951,0.0,205.58
3,2020-08-07 04:24:00.000,1,2,199.99,205.58,102.7951,0.0,205.58
4,2020-08-08 04:22:00.000,1,1,199.99,205.58,102.7951,0.0,205.58

In [20]:
df_comp_price_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90953 entries, 0 to 90952
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SCAN_DATE_TIME               90953 non-null  object
 1   SCRUB_ITEM                   90953 non-null  int64
 2   SCRUB_COMPETITOR             90953 non-null  int64
 3   TSC_PRICE                    90953 non-null  float64
 4   COMPETITOR_PRICE             90953 non-null  float64
 5   CPI_COMPETITIVE_PRICE_INDEX  90953 non-null  float64
 6   COMPETITOR_SHIPPING          51396 non-null  float64
 7   COMPETITOR_REG_PRICE         90953 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 5.6+ MB

In [37]:
df_comp_price_change['SCAN_DATE_TIME'] = df_comp_price_change['SCAN_DATE_TIME'].str[:10]

In [38]:
df_comp_price_change['SCAN_DATE_TIME'] = pd.to_datetime(df_comp_price_change['SCAN_DATE_TIME'],format='%Y-%m-%d')

In [21]:
df_tsc_sales.head()

,SCRUB_ITEM,TIME_DIM_KEY,SCRUB_TRANS_NO,TRANS_SEQ_NO,UNIT_QTY,UNIT_PRICE,UNIT_COST
0,1,20180402,1296,2,2.0,322.99,132.97
1,1,20181206,6878,1,1.0,322.99,132.97
2,1,20181210,7010,2,2.0,322.99,132.97
3,1,20190214,8380,2,1.0,322.99,132.97
4,1,20190502,10639,1,2.0,219.99,132.97

In [22]:
df_tsc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70829 entries, 0 to 70828
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SCRUB_ITEM      70829 non-null  int64
 1   TIME_DIM_KEY    70829 non-null  int64
 2   SCRUB_TRANS_NO  70829 non-null  int64
 3   TRANS_SEQ_NO    70829 non-null  int64
 4   UNIT_QTY        70829 non-null  float64
 5   UNIT_PRICE      70829 non-null  float64
 6   UNIT_COST       70829 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 3.8 MB

In [39]:
df_tsc_sales['TIME_DIM_KEY'] = pd.to_datetime(df_tsc_sales['TIME_DIM_KEY'],format='%Y%m%d')

In [43]:
df_tsc_sales['TIME_DIM_KEY'][0]

Timestamp('2018-04-02 00:00:00')

In [47]:
df_tsc_sales['TIME_DIM_KEY'][0].day

2